:root {
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
}
body{
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: var(--Magnolia);
}
.main_container{
    display: flex;
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--White);
}
.circle{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Alabaster);
    background-color: var(--Purplish-blue);

}
.steps{
    color: var(--Light-gray);
    text-transform: uppercase;
    font-size: x-small;
}
.steps_desc{
    text-transform: uppercase;
    color: var(--Alabaster);
    font-weight: normal;
}
.title{
    font-weight: bolder;
    font-size: xx-large;
}
#title_desc1{
    color: var(--Cool-gray);
    font-size: x-small;
}
#title_desc2{
    color: var(--Cool-gray);
    font-size: x-small;
}
#title_desc3{
    color: var(--Cool-gray);
    font-size: x-small;
}
.form1 input{
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid var(--Cool-gray);
}
.form1 input:focus{
    outline-color: var(--Purplish-blue);
}
.form1 input::placeholder{
    font-weight: bold;
    opacity: 50%;
}
.circle:hover{
    background-color:  var(--Light-blue);
    color: black;
}
.float_right{
    display: flex;
    flex-direction: column;
    float: right;
}
.main_div1{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    padding: 2rem;
}
.div_1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 9rem;
}
#name:invalid{
}

.container_1 {
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16rem;
    height: auto;
    min-height: 33rem;
    border-radius: 5px;
}
.container_2_1{
    display: flex;
    flex-direction: column;
    width: 30rem;
    padding-top: 2.7rem;
    padding-left: 4rem;
    padding-right: 6rem;
}
.slider{
    border-radius: 0.7rem;
    border: 1px solid black;
    width: 3.1rem;
    height: 1.3rem;
    background-color: var(--Marine-blue);
    padding-bottom: 0.25rem;
}
.toggle{
    background-color: var(--White);
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--White);
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    transform: translate(-100%)

}

.container2_2{
    display: none;
    width: 33rem;
    flex-direction: column;
    gap: 3rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 4rem;
}
.container2_3{
    display: none;
    flex-direction: column;
    width: 31rem;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-top: 3.2rem;
}
.container2_4{
    display: none;
    flex-direction: column;
    width: 31rem;
    gap: 2rem;
    padding: 2rem;
}
.container2_5{
    display: none;
    width: 33rem;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.para_5{
    text-align: center;
    width: 67%;
}
.img_5{
    width: 7rem;
    height: auto;
}
.close_5{
    font-size: xx-large;
    font-weight: bold;
}
.finish_up{
    display: flex;
    justify-content: space-between;
}
.finish_up_price{
    font-weight: bold;
}
.finish_up_outline {
    border: 1px solid var(--Magnolia);
    background-color: var(--Alabaster);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.float_month{
    float: right;
    color: var(--Purplish-blue) !important;
    font-weight: bold;
  }
#total{
    font-size: 1.37rem;
    color: var(--Purplish-blue);
    font-weight: bold;
}
#mini_container2_2{
    display: flex;
    flex-direction: column;
    gap: 7rem;
}
.form1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;

}
.form2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem ;
    width: 100%;
    margin-top: 3rem;
}
.checkbox_div{
    border: 1px solid var(--Light-gray);
    border-radius: 0.4rem;
    padding: 1rem;
}
.checkbox_div:hover{
    border-color: var(--Purplish-blue);
    cursor: pointer;
}
.title_desc4{
    font-weight: bold;
    font-size: 1rem;
}
.title_desc4s{
    color: var(--Cool-gray);
    font-size: 0.7rem;
}
.free_months{
    visibility: visible;
    font-weight: bold;
    font-size: 0.77rem;
}
.mode{
    font-weight: bold;
    font-size: 1.2rem;
}
.align{
    text-align: left;
}
.bull{
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    background-color: var(--Magnolia);
    padding-top: 0.68rem;
}
.bull_m1{
    font-weight: bold;
    font-size: 0.88rem;
}
.bull_m2{
    font-weight: normal;
    font-size: 0.88rem;
    opacity: 60%;
}
.small_checkbox_div input{
    cursor: pointer;
    accent-color: var(--Purplish-blue);
}
.small_checkbox_div{
    display: flex;
    gap: 1.7rem;
}
.labels{
    display: flex;
    flex-direction: column;
}
.next:hover{
    cursor: pointer;
}
.next{
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 28%;
    border-radius: 0.5rem;
    background-color: var(--Purplish-blue);
    color: var(--White);

}
.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}
.go_back{
    background-color: var(--White);
    border: 0px;font-weight: bold;
}
#next_float{
    visibility: hidden;
}
.mint_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.mint_container3{
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
}

.go_back input:hover{
    cursor: pointer;
}

section{
    display: flex;
    gap: 2rem;
}
.icons {
    border: 1px solid var(--Light-gray);
    width: 9rem;
    height: 10rem;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--White);
}
.icons:hover{
    cursor: pointer;
    border-color:  var(--Purplish-blue) ;
}
.icons:focus{
    background-color: var(--Magnolia);
    opacity: 200%;
}



